/* fonts */
@font-face {
  font-family: 'GloberRegular';
  src: url("../fonts/fontfabric_-_globerregular-webfont.woff2") format("woff2"), url("../fonts/fontfabric_-_globerregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GloberLight';
  src: url("../fonts/fontfabric_-_globerlight-webfont.woff2") format("woff2"), url("../fonts/fontfabric_-_globerlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GloberBook';
  src: url("../fonts/fontfabric_-_globerbook-webfont.woff2") format("woff2"), url("../fonts/fontfabric_-_globerbook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GloberBold';
  src: url("../fonts/fontfabric_-_globerbold-webfont.woff2") format("woff2"), url("../fonts/fontfabric_-_globerbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* General Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

img, object, embed {
  vertical-align: bottom;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

a * {
  cursor: pointer;
}

input, textarea, select {
  vertical-align: middle;
}

aside, nav, footer, header, section, article, figure, figcaption, main {
  display: block;
  margin: 0;
}

mark {
  background: none;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* colors */
/* *** */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* General settings */
html {
  height: 100%;
  background: #fff;
}

body {
  color: #536275;
  font-family: "GloberRegular", Arial, sans-serif;
  min-width: 900px;
  min-height: 100%;
  background: #fff;
  position: relative;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* icons */
.icon {
  transition: inherit;
  margin-top: -4px;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  fill: currentColor;
}

/* .link */
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

/* button */
.button-base {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border: none;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background: none;
  font-family: "GloberRegular", Arial, sans-serif;
  line-height: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  min-width: 0;
  height: auto;
  width: auto;
  border-radius: 0;
  transition: all 250ms ease 0s;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  border-spacing: 0;
  text-indent: 0;
  color: inherit;
  overflow: visible;
  text-transform: none;
}
.button-base:focus, .button-base:hover {
  cursor: pointer;
  text-decoration: none;
}
.button-base::-moz-focus-inner {
  border: 0;
  padding: 0;
}
[disabled].button-base {
  cursor: default;
}

/* .button-base */
.button-base {
  background: #ca0754;
  box-shadow: 0 5px 36px -8px #ca0754;
  font-family: "GloberRegular", Arial, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  padding: 21px 30px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.button-base:focus, .button-base:hover {
  background: #af98da;
  box-shadow: 0 5px 36px -8px #af98da;
}
.button-base:active {
  background: #ca0754;
  box-shadow: 0 5px 36px -8px #ca0754;
}

/* .font- */
.font-light {
  font-family: "GloberLight", Arial, sans-serif;
}

.font-neitral, .text-container-base,
.paragraph-base {
  font-family: "GloberBook", Arial, sans-serif;
}

.font-bold {
  font-family: "GloberBold", Arial, sans-serif;
}

/* .title */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
}

.topic__title,
.title-primary {
  font-size: 49px;
  line-height: 56px;
  color: #333;
  letter-spacing: -2px;
}

.title-m {
  font-size: 22px;
  line-height: 30px;
}

.case__title,
.title-s {
  font-size: 17px;
  line-height: 24px;
  color: #333;
}

/* .paragraph- */
.text-container-base,
.paragraph-base {
  font-size: 17px;
  line-height: 24px;
}

.text-container-medium,
.paragraph-medium {
  font-size: 15px;
  line-height: 22px;
}

/* .text-container */
.text-container-base > *:first-child, .text-container-medium > *:first-child {
  margin-top: 0;
}
.text-container-base img, .text-container-medium img {
  max-width: 100%;
  height: auto;
}
.text-container-base strong, .text-container-medium strong {
  font-family: "GloberBold", Arial, sans-serif;
}
.text-container-base ul, .text-container-medium ul {
  margin-left: 40px !important;
  list-style-type: disc;
}
.text-container-base ol, .text-container-medium ol {
  margin-left: 40px !important;
  list-style-type: decimal;
}
.text-container-base em, .text-container-medium em {
  font-style: italic !important;
}

.text-container-base > * {
  margin-top: 12px;
}
.text-container-medium > * {
  margin-top: 9px;
}

/* .w-body */
.w-body {
  width: 100%;
  overflow: hidden;
}

/* .img-fake */
.img-fake {
  display: block;
  width: 100%;
  height: auto;
}

/* .wrapper */
.wrapper {
  width: 96%;
  margin: 0 auto;
}

/* .section-inside */
.section-inside {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* .section-indent */
.section-indent-lx:first-child, .section-indent-l:first-child, .section-indent-m:first-child, .section-indent-s:first-child {
  margin-top: 0;
}

.section-indent-lx {
  margin-top: 60px;
}

.section-indent-l {
  margin-top: 30px;
}

.section-indent-m {
  margin-top: 26px;
}

.section-indent-s {
  margin-top: 20px;
}

/* .cover-light */
.cover-light {
  position: relative;
  z-index: 1;
}
.cover-light:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: -1;
  background: url(../images/sprite.png) no-repeat 0 0;
  width: 495px;
  height: 370px;
}

/* .cases */
.cases {
  margin: -30px 0 0 -60px;
}

.case {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  padding: 30px 0 0 60px;
}

.case__cover {
  margin-bottom: 3px;
}

.case__icon {
  width: 130px;
  height: 130px;
  margin: -20px 0 0 -12px;
  color: #af98da;
}

.case__title {
  font-family: "GloberBold", Arial, sans-serif;
  margin-bottom: 9px;
}

/* .section-pic */
.section-pics {
  background: #e3f8ff;
  position: relative;
  z-index: 1;
}

.section-pic:after {
  content: '';
  transition: all 1s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.section-pic:nth-child(odd) .section-pic__pattern-side {
  left: 50%;
}
.section-pic:nth-child(even) .section-pic__content {
  margin: 0 0 0 auto;
}
.section-pic:nth-child(even) .section-pic__pattern-side {
  right: 50%;
}

.section-pic_a-color:after {
  background: #e3f8ff;
}

.section-pic_b-color:after {
  background: #f7e5e0;
}

.section-pic_c-color:after {
  background: #eeedff;
}

.section-pic_a-color.section-pic--active:after {
  opacity: 1;
  visibility: visible;
}

.section-pic_b-color.section-pic--active:after {
  opacity: 1;
  visibility: visible;
}

.section-pic_c-color.section-pic--active:after {
  opacity: 1;
  visibility: visible;
}

.section-pic__frame {
  display: table;
  width: 100%;
  height: 100vh;
}

.section-pic__holder {
  display: table-cell;
  vertical-align: middle;
}

.section-pic__wrapper {
  position: relative;
  z-index: 2;
}

.section-pic__content {
  width: 50%;
}

.section-pic__pattern-side {
  width: 50%;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
}

.section-pic__photo-01, .section-pic__photo-02, .section-pic__photo-03 {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.section-pic__photo-01 {
  left: 0;
  margin-top: -300px;
}

.section-pic__photo-02 {
  right: 18%;
  margin-top: -300px;
}

.section-pic__photo-03 {
  left: 6%;
  margin-top: -300px;
}

.section-pic__pattern-02, .section-pic__pattern-03, .section-pic__pattern-04, .section-pic__pattern-05, .section-pic__pattern-06, .section-pic__pattern-07, .section-pic__pattern-08, .section-pic__pattern-09, .section-pic__pattern-10, .section-pic__pattern-11, .section-pic__pattern-12, .section-pic__pattern-14, .section-pic__pattern-15, .section-pic__pattern-16, .section-pic__pattern-17, .section-pic__pattern-18 {
  background: url(../images/sprite.png) no-repeat 0 0;
  position: absolute;
}

.section-pic__pattern-02 {
  width: 210px;
  height: 155px;
  background-position: 0 -370px;
  top: 200px;
  left: -20%;
  z-index: 4;
}

.section-pic__pattern-03 {
  width: 224px;
  height: 224px;
  background-position: -210px -370px;
  left: 53%;
  top: -152px;
  z-index: 3;
}

.section-pic__pattern-04 {
  width: 48px;
  height: 49px;
  background-position: -434px -370px;
  left: 88%;
  top: -100px;
  z-index: 4;
}

.section-pic__pattern-05 {
  width: 114px;
  height: 112px;
  background-position: -312px -594px;
  top: -204px;
  left: 216px;
  z-index: 1;
}

.section-pic__pattern-06 {
  width: 136px;
  height: 86px;
  background-position: 0 -525px;
  left: 4%;
  top: -30px;
  z-index: 4;
}

.section-pic__pattern-07 {
  width: 312px;
  height: 321px;
  background-position: 0 -637px;
  left: 58%;
  top: -80px;
  z-index: 4;
}

.section-pic__pattern-08 {
  width: 68px;
  height: 72px;
  background-position: -136px -525px;
  top: -290px;
  left: 74%;
  z-index: 1;
}

.section-pic__pattern-09 {
  width: 88px;
  height: 92px;
  background-position: -312px -706px;
  right: 100%;
  margin-right: 4%;
  top: 50px;
  z-index: 1;
}

.section-pic__pattern-10 {
  width: 223px;
  height: 223px;
  background-position: 0 -958px;
  right: 75%;
  bottom: 10px;
  z-index: 3;
}

.section-pic__pattern-11 {
  width: 368px;
  height: 314px;
  background-position: 0 -1181px;
  right: 4%;
  top: -300px;
  z-index: 1;
}

.section-pic__pattern-12 {
  width: 343px;
  height: 340px;
  background-position: 0 -1495px;
  right: 55%;
  top: 30px;
  z-index: 4;
}

.section-pic__pattern-14 {
  width: 87px;
  height: 87px;
  background-position: -312px -798px;
  left: 100%;
  margin-left: -4%;
  bottom: 40px;
  z-index: 1;
}

.section-pic__pattern-15 {
  width: 87px;
  height: 87px;
  background-position: -408px -871px;
  right: 100%;
  margin-right: 4%;
  top: -44px;
  z-index: 1;
}

.section-pic__pattern-16 {
  width: 512px;
  height: 643px;
  background-position: 0 -1835px;
  left: 26%;
  top: -180px;
  z-index: 4;
}

.section-pic__pattern-17 {
  width: 223px;
  height: 223px;
  background-position: -229px -958px;
  left: 59%;
  bottom: -90px;
  z-index: 3;
}

.section-pic__pattern-18 {
  width: 340px;
  height: 604px;
  background-position: 0 -2495px;
  left: 0;
  top: 50%;
  margin-top: -320px;
  z-index: 1;
}

/* .parallax-item */
.parallax-item {
  will-change: transform;
}

/* .topic */
.topic__description {
  padding-right: 14%;
}

.topic__price, .topic__price-sm {
  display: inline-block;
  vertical-align: top;
}

.topic__price {
  font-size: 37px;
  line-height: 40px;
  font-family: "GloberBook", Arial, sans-serif;
}

.topic__price-sm {
  font-size: 15px;
  line-height: 18px;
  margin-left: 5px;
}

/*# sourceMappingURL=all.css.map */